* {
    margin: 0;   
}


body {
    background: whitesmoke;
    font-family: 'Happy Monkey', cursive;
    text-align: center;
    color: #c643e0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-shadow: 0 0 2px white;
}

#niece-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #e5beed;
    margin-bottom: 10px;
    margin-top: 10px;
}

#niece-age {
    background:  #e5beed;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 0 5px 0;
    text-shadow: 0 0 2px white;

}

#niece-bday {
    background:  #e5beed;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
    text-shadow: 0 0 3px white;

}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 20px;
}

.gift-title {
    margin-bottom: 10px;
    text-shadow: 0 0 3px white;
}
.gift-hint {
    margin-top: 0;
}


.gift-img {
    margin: 20px auto; 
    height: 300px;
    max-width: 300px;
    border: 6px solid #e5beed;
    border-radius: 10px;
    background-image: url(gift-image.avif);
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url(Dancing-image.gif);
}

#gift-img-excited:hover {
    background-image: url(excited.gif);
}

#gift-img-blessing:hover {
    background-image: url(blessing.gif);
}

#gift-img-cheers:hover {
    background-image: url(cheers.gif);
}

.hbd-song-section {
    margin-top: 20px 0 100px 0;
    width: 400px;
    height: 200px;
    display: block;
   
}

iframe {
    border: 6px solid #e5beed;
}

.colorful {
    background: #68e6eb;
    padding: 5px 10px;
    border-radius: 5px;
}

#space {
    margin-bottom: 20px;
}

#footer {
    margin-top: 100px;
    /* background:rgb(173, 216, 230, 0.3); */
    background: lightgray;
    width: 100%;
    height: 60px;
    padding-top: 30px;
}